@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html {
  background: white;
}

body {
  height: 100vh;
}

#__next {
  height: 100%;
}
